/*Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS Variables*/
:root {
    --primary-font: "Open Sans", serif;
    --secondary-font: "Bagel Fat One", serif;
    --primary-color: #194a7a;
    --secondary-color: #476f95;
    --contrast-color: #ffc920;
    --secondary-contrast-color: #fff89a;
    --text-color: #d1dbe4;
}

/*CSS Basics */
body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

/*CSS homepage*/

#hero {
    margin-bottom: 40px;
    /*background: url(/assets/images/logo-pubquiz-challenge.png) no-repeat center center/cover;*/
    background-color: var(--primary-contrast-color);
    width: 100%;
}

#hero img {
    width: 100%;
    height: auto;
}

.title {
    font-family: var(--secondary-font);
    font-size: 60px;
    color: var(--contrast-color);
    text-shadow: 2px 2px var(--secondary-color);
}

.intro {
    font-size: 120%;
}

.intro-text {
    padding: 0 3rem;
}


.enter-name {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 80px;
    align-items: center;
}

.label-name {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 150%;
    padding: inherit;
}

.input-name {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--secondary-font);
    text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px var(--secondary-color);
}

.btn-start {
    padding: 10px 25px;
    text-align: center;
    background-color: var(--secondary-contrast-color);
    color:  var(--primary-color);
    font-size:  16px;
    font-family: var(--primary-font);
    font-weight: bold;
    border: 10px solid var(--contrast-color);
    margin-bottom: 35px;
    box-shadow: 4px 4px var(--secondary-color);
   border-radius: 5%;
}

.btn-start:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
}

footer {
    font-size: small;
}