/*Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS Variables*/
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Bungee", cursive;
    --primary-color: #151c4a;
    --secondary-color: #0069b0;
    --contrast-color: #f88839;
    --secondary-contrast-color: #ffb000;
    --text-color: #ffd880;
}

/*CSS Basics */

* {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--contrast-color);
    width:100%;
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 40px;
}

p {
    font-weight:300;
}

a {
    text-decoration: none;
}

/*CSS homepage*/

#hero {
    /*background: url(/assets/images/logo-pub-quiz.png) left no-repeat, url(/assets/images/logo-pub-quiz-challenge.png) right no-repeat;
    */
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--contrast-color);
}

#hero img {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--contrast-color);
    align-items: flex-start;
}

#hero .title {
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-shadow: 2px 2px var(--secondary-color);
    background-color: var(--contrast-color);
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.3rem;
}

.intro {
    font-weight: 300;
    margin-bottom: 30px;
}
.intro-text {
    padding: 0 2rem;
}

.enter-name {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 80px;
    align-items: center;
}

.label-name {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 150%;
    padding: inherit;
}

.input-name {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    text-align: center;
    border-radius: 5%;
    font-size:larger;
}

#show-name {
    display: none;
}

#level-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 90%;
    justify-content: center;
    align-items: flex-end;
}

p .choose {
    text-align: center;

}

#level-area .btn-level {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 1rem;
    width: 90%;
    font-weight: 400;
    text-transform: lowercase;
    justify-content: center;
    margin-left: 1rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
    
}

#level-area .btn-level:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.btn-start {
    padding: 10px 25px;
    text-align: center;
    background-color: var(--contrast-color);
    color:  var(--primary-color);
    font-size:  16px;
    font-family: var(--primary-font);
    font-weight: bold;
    border: 8px solid var(--secondary-contrast-color);
    margin-bottom: 45px;
    box-shadow: 2px 4px var(--contrast-color);
    border-radius: 5%;
    text-transform: uppercase;
}

.btn-start:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
}

footer {
    margin-top: auto;
    background-color: var(--contrast-color);
    color: var(--primary-color);
}

footer p {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-size: small;
    margin: 0;
}

/* CSS Page the-pub-quiz-challenge
*/

#question-area {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-questionpage {
    font-size: medium;
    font-weight: lighter;
}


#question {
    
}

#image-area  {
    display: block; 
    margin-bottom:2rem;
}

#image-area img {
    border: var(--contrast-color) 5px solid;
    max-width:90%;
    background-color: var(--contrast-color);
}

#answer-area {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.button-answer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem 0 0;
    text-decoration: none;
    width:90%;
    
}

.button-answer:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: 0.3s;
}


.button-answer:disabled {
    cursor: not-allowed;
    box-shadow: none;
}

.button-answer:active {
    transition: ease-in;
    padding: 1rem;
    margin: 0.5rem;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}


.button-next {
    display: block; /*will become block to center the button*/
    padding: 0.5rem 2rem;
    margin: 2rem 0;
    
}

.button-next:hover {
    padding: 0.5rem 2rem;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

/*CSS Results Page */










/* responsive CSS */

@media only screen and (min-width: 600px) {
    #hero .title {
        font-size: 3rem;
        
    }
}

@media only screen and (min-width: 768px) {
    .input-name {
        width: 50%;
}
}

@media only screen and (min-width: 1024px) {
    #hero .title {
        font-size: 5rem;
    }

    .input-name {
        width: 45%;
}
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1440px) {
    
}